# Flask Configuration
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=True
SECRET_KEY=
LOG_LEVEL=INFO

# Download Configuration
DOWNLOAD_DIR=downloads
MAX_CONCURRENT_DOWNLOADS=1
PROCESS_NICE_VALUE=10
REQUEST_TIMEOUT=10

# External APIs
ODESLI_API_URL=https://api.song.link/v1-alpha.1/links?url=

# Tool Arguments
BEETS_ARGS=import -q
AUDIO_CODEC=m4a
AUDIO_QUALITY=best # Set to 'best' for highest quality, or a bitrate like '192', '256', '320'

# Beets Configuration
USE_BEETS=False

# Media Server Rescan (Optional)
# Jellyfin
JELLYFIN_URL=
JELLYFIN_API_KEY=
# Navidrome
NAVIDROME_URL=
NAVIDROME_USER=
NAVIDROME_TOKEN=
